@mixin btn {
    margin-left: 150px;
    padding: 5px 5px;
    border: 1px solid $warna-poin;
    width: 25%;
    color: $warna-poin;
    background: $warna-teks;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    cursor: pointer;
}