/* This is the main.scss file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');
@import '_variables.scss';
@import '_mixin.scss';

// * {
//     font-family: 'Poppins', sans-serif;
// }

body {
    margin-bottom: 25%;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/keren.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

// ====== Header.html ======
.header {
    margin: $ukuran;
    padding: 1px;
    text-align: center;
    color: $primary-color;
    background-color: $warna-bgt;

    span {
        line-height: $ukuran;
    }

    &__title {
        font-size: 20px;
    }

    &__desc {
        font-size: 10px;
    }

    .nav {
        text-align: right;
    }

    table {
        margin: $ukuran;
        padding: $ukuran;
        width: 100%;
        text-align: center;
        background-color: $warna-bgt;

        &__td:nth-child(2) {
            text-align: right;
        }
    }

    &__top {
        margin: 0 0 0 10px;
        color: $warna-poin;
        text-align: left;
    }

    .nav li {
        margin-right: 10px;
        display: inline-block;

        :hover {
            background-color: $hover;
        }
    }

    li .nav__link {
        padding: 8px 10px;
        font-size: 16px;
        color: $warna-poin;
        text-align: right;
        text-decoration: none;
    }

}

// ====== index.html ======
.home {
    margin: 20px 0;
    color: $warna-teks;

    .hero {
        margin-bottom: 30px;
        padding: 20px 0 15px 0;
        border: 3px solid $warna-poin;
        width: 99.5%;
        height: 185px;
        color: $primary-color;
        text-align: center;
        background-image: url('../images/hero2.jpg');
        background-size: cover;
        letter-spacing: 1.5px;

        &__image {
            border-radius: 50%;
            width: 150px;
        }

        &__title {
            margin: 2px;
            font-size: 34px;
        }

        &__desc {
            margin: 10px;
            font-size: 16px;
        }
    }

    .skills {
        padding-bottom: 20px;
        width: 99.5%;
        border: 3px solid $warna-poin;
        text-align: center;
        color: $primary-color;
        background-image: url('../images/hero2.jpg');
        background-size: cover;
        background-repeat: 50%;

        &__title {
            font-size: 34px;
        }
    }

    table {
        margin-top: 20px;
        width: 100%;
    }

    table .skills__image {
        width: 350px;
    }

    ul {
        text-align: left;
    }

    li {
        font-size: 22px;
    }
}

// // ====== Portfolio.html ======
.portfolio {
    text-align: center;
    color: $warna-teks;

    &__galeri {
        margin: 35px 0 40px 0;
        display: flex;
    }

    &__galeri img {
        width: 50%;
    }

    & __galeri p {
        margin-right: 15px;
        font-size: 14px;
    }
}

// ====== contact.html ======
.contact {
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    width: 900px;
    top: 65%;
    left: 37.5%;
    background: transparent;
    box-shadow: 0px 0px 25px 10px rgb(102, 144, 223);

    &__title {
        margin-top: 20px;
        padding-top: $ukuran;
        text-align: center;
        color: $warna-teks;
        font-size: 30px;
        letter-spacing: 3px;
    }

    &__data {
        padding: 8px 0;
        margin: 10px 50px;
        border-bottom: 2px solid $warna-bgt;
        display: flex;
        justify-content: space-between;
    }

    &__data i {
        padding: 5px 0;
        color: $warna-poin;
        font-size: 23px;
    }

    &__data input {
        border: none;
        width: 93%;
        display: block;
        background-color: $warna-bgt;
    }

    &__data input::placeholder {
        color: $warna-poin;
    }

    &__data textarea {
        border: none;
        width: 93%;
        height: 50px;
        color: $warna-poin;
        display: block;
        background-color: $warna-bgt;
    }

    &__send {
        @include btn;
    }

    &__clear {
        @include btn;
    }

    &__send:hover {
        background: $hover;
    }

    &__clear:hover {
        background: red;
    }

}

// ====== footer.html ======
.footer {
    padding: 1px 0 15px 0;
    text-align: center;
    color: $primary-color;
    background-color: $warna-bgt;
    clear: both;

    ul {
        margin-bottom: 5px;
        padding: 0%;
    }

    li {
        margin-right: 10px;
        display: inline-block;
    }

    &__link {
        padding: 6px 10px;
        color: $warna-poin;
        text-decoration: none;
        font-size: 16px;
    }

    &__link:hover {
        background: $hover;
    }

    span {
        font-size: 12px;
    }
}