@@include('../shared/header.html', {
"style": [
"assets/css/main.css"
]
})

<main class="contact" id="contact">
    <form class="contact__form">
        <h2 class="contact__title"><i class="fas fa-id-card-alt"></i> Contact Me</h2>
        <hr>
        <div class="contact__data">
            <i class="fas fa-envelope-open-text"></i>
            <input type="text" placeholder="    Your Name">
        </div>

        <div class="contact__data">
            <i class="fas fa-tty"></i>
            <input type="text" placeholder="    HP / WA">
        </div>

        <div class="contact__data">
            <i class="fas fa-at"></i>
            <input type="text" placeholder="    Email Address">
        </div>

        <div class="contact__data">
            <i class="fas fa-comment-alt"></i>
            <textarea name="text" id="komen" placeholder="  What do you need?"></textarea>
        </div>

        <button type="submit" class="contact__send">Send</button>
        <button type="submit" class="contact__clear">Clear</button>
    </form>
</main>

@@include('../shared/footer.html', {
"script": [
"assets/js/app.min.js"
]
})