@@include('../shared/header.html', {
"style": [
"assets/css/main.css"
]
})

<main class="home">
  <!-- Hero banner -->
  <div class="hero" id="hero">
    <img class="hero__image" src="assets/images/coder.png" alt="Iran Situmorang">
    <h2 class="hero__title">Hi there, I'm Iran!</h2>
    <p class="hero__desc"> I'm a the next Front end Development, based in Tangerang.
      <br> Feel free to look at my work and see if you like them you can conctact me to know more!</p>
  </div>

  <!-- skills -->
  <div class="skills" id="skills">
    <h2 class="skills__title">My skills</h2>
    <section>
      <table>
        <tr>
          <td colspan="6" rowspan="6"><img class="skills__image" src="assets/images/skil.jpeg"
              srcset="assets/images/skil-small.jpeg 425w, assets/images/skil.jpeg 1200w alt=" Iran Situmorang"></td>
          <td colspan="3">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>SCSS</li>
              <li>Bootstrap</li>
              <li>Jquery</li>
              <li>Ajax</li>
            </ul>
          </td>

          <td colspan="3">
            <ul>
              <li>Gulp</li>
              <li>Javascript</li>
              <li>Nodejs</li>
              <li>Reactjs</li>
              <li>Vuejs</li>
              <li>Angularjs</li>
            </ul>
          </td>
        </tr>
      </table>
    </section>
  </div>
</main>

@@include('../shared/footer.html', {
"script": [
"assets/js/app.min.js"
]
})