@@include('../shared/header.html', {
"style": [
"assets/css/main.css"
]
})

<main>
  <div class="portfolio" id="portfolio">
    <h2>My Portfolio</h2>
    <hr>

    <div class="portfolio__galeri">
      <article class="galeri-item">
        <img src="assets/images/image7.jpeg"
          srcset="assets/images/image7-small.jpeg 425w, assets/images/image7.jpeg 1200w" alt="myproject">
        <div>
          <h3>New York Today</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit itaque nemo sunt
            molestiae perferendis mollitia in nobis aut. </p>
        </div>
      </article>

      <article class="galeri-item">
        <img src="assets/images/image8.jpeg"
          srcset="assets/images/image8-small.jpeg 425w, assets/images/image8.jpeg 1200w" alt="myproject">
        <div>
          <h3>Matte & Poreless FD</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti nemo soluta doloribus, itaque
            nisi.
            deserunt a eaque recusandae rerum beatae?
          </p>
        </div>
      </article>

      <article class="galeri-item">
        <img src="assets/images/image3.jpeg"
          srcset="assets/images/image3-small.jpeg 425w, assets/images/image3.jpeg 1200w" alt="myproject">
        <div>
          <h3>PeerPal</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea exercitationem voluptatum
            quae!
            Iusto excepturi explicabo fuga necessitatibus voluptatum. </p>
        </div>
      </article>
    </div>

    <div class="portfolio__galeri">
      <article class="galeri-item">
        <img src="assets/images/image4.jpeg"
          srcset="assets/images/image4-small.jpeg 425w, assets/images/image4.jpeg 1200w" alt="myproject">
        <div>
          <h3>Zomatta</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam magni minus dolor perferendis.
            Excepturi fugit, sit laboriosam consequuntursaepe eius.</p>
        </div>
      </article>

      <article class="galeri-item">
        <img src="assets/images/image5.jpeg"
          srcset="assets/images/image5-small.jpeg 425w, assets/images/image5.jpeg 1200w" alt="myproject">
        <div>
          <h3>Luxury Pens</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque,
            id officia nemo sint quaerat voluptates iusto aliquid autem optio.</p>
        </div>
      </article>

      <article class="galeri-item">
        <img src="assets/images/image6.jpeg"
          srcset="assets/images/image6-small.jpeg 425w, assets/images/image6.jpeg 1200w" alt="myproject">
        <div>
          <h3>Noodle Food IDN</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quae, voluptatem laboriosam aperiam ut
            architecto earum soluta, autem aut quasi sit laborum.
          </p>
        </div>
      </article>
    </div>

  </div>
</main>

@@include('../shared/footer.html', {
"script": [
"assets/js/app.min.js"
]
})