<!-- This is a separated file to code your footer -->

<footer class="footer">
  <nav>
    <ul>
      <li><a class="footer__link" href="index.html"><strong>Homepage</strong></a></li>
      <li><a class="footer__link" href="portfolio.html"><strong>Portfolio</strong></a></li>
      <li><a class="footer__link" href="contact.html"><strong>Contact me</strong></a></li>
    </ul>
  </nav>

  <span> &copy2021 - All Rights Reserved </span>
</footer>

@@if(context.script) {
@@for(var i=0; i < script.length; i++) { <script src="`+script[i]+`">
  </script>
  }
  }
  </body>

  </html>